/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #6266EA;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
